<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
<header class="bg-success text-white py-3 mb-5">
    <div class="container d-flex justify-content-between">
        <h1 class="mb-0">Golf Tournament</h1>
        <a href="/logout" class="btn btn-light my-2 my-sm-0">Logout</a>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <h2 class="card-title">Add Player</h2>
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.name.label(class="form-label") }}
                            {{ form.name(class="form-control", required=True) }}
                        </div>
                        <div class="form-group">
                            {{ form.handicap.label(class="form-label") }}
                            {{ form.handicap(class="form-control", required=True) }}
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-success btn-block mt-4") }}
                        </div>
                        <div class="form-group">
                            <a class="btn btn-primary btn-block mt-2" href="/generate-competition"
                               style="background-color: #FFA500; border-color: #FFA500;">Generate Competition</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <h2 class="card-title">Players</h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Handicap</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for player in players %}
                        <tr>
                            <td>{{ player.name }}</td>
                            <td>{{ player.handicap }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
